# Template for .env file
# There should be a .env.dev and a .env.production

# Database 
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.w0v7p.mongodb.net/dev?retryWrites=true&w=majority&appName=DevApp

# Yalies
YALIES_API_KEY=<api_key>