@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  @apply bg-background text-foreground;
}

:root {
  --background: #f5f5f9;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSansCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSansCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}