name: Run on Push to Main

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 45.55.236.241 >> ~/.ssh/known_hosts

      - name: Deploy to DigitalOcean Droplet
        run: |
          ssh root@45.55.236.241 << 'EOF'
              export NVM_DIR="/root/.nvm"
              [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
              export PATH=$NVM_DIR/versions/node/v18.20.7/bin:$PATH
              cd /var/www/YaleClubs
              git pull origin main
              npm install
              NODE_OPTIONS="--max-old-space-size=512" npm run  build --workers=1
              pm2 restart all
          EOF
